.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  color: rgb(223, 220, 215);
  border: 0.5px solid rgb(77, 107, 134);
  border-radius: 5px;
  padding: 30px;
  height: auto;
  width: 350px;
}

.input {
  padding: 10px 12px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
}

.form button {
  padding: 15px;
  cursor: pointer;
  background-color: var(--btn);
  color: var(--textColor);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.imgContainer {
  height: 400px;
  width: 400px;
  position: relative;
}
