.navButton {
  min-width: 60px;
  padding: 3px 0px;
  border-radius: 20px;
  font-weight: 500;
  text-align: start;
}

.navButton:hover {
  /* background-color: var(--text); */
  color: var(--textActive);
}

.active {
  /* background-color: var(--text); */
  color: var(--textActive);
}

.logo {
  font-size: 35px;
  font-weight: bold;
}
