.navButton {
  min-width: 60px;
  padding: 3px 0px;
  border-radius: 20px;
  font-weight: 500;
  text-align: start;
}

.navButton:hover {
  color: var(--textActive);
  transition: all ease-in-out 0.3s;
}

.active {
  color: var(--textActive);
  transition: all ease-in-out 0.3s;
}

.logo {
  font-size: 35px;
  font-weight: bold;
}
