.react-calendar {
  width: 100% !important;
  max-width: 100% !important;
  background: #0c162e !important;
  border: 0.2px solid #0906138e !important;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 5px;
  box-shadow: #090613 !important;
  height: auto !important; /* Allow height to adjust dynamically */
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  padding: 5px 10px;
}

.react-calendar button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  /* background-color: #0202288b !important; */
  background-image: none;
}

.react-calendar button:hover {
  background-color: #040448aa !important;
  transition: all ease-in-out 0.4s;
}

.react-calendar .react-calendar__tile--now {
  background: #180555 !important;
  border-radius: 3px;
}

.react-calendar__tile--active {
  background: #14034d !important;
  border-radius: 3px;
  color: #fff;
}

.react-calendar .highlight {
  background-color: #240881 !important;
  color: rgba(255, 255, 255, 0.748);
  border-radius: 1px;
}

.react-calendar abbr {
  text-decoration: none !important;
}
.react-calendar__month-view__days__day--weekend {
  color: #932525 !important;
}
